<form enctype="multipart/form-data" action="blog" method="post">
    <label for="text"><b>Message</b></label>
    <label>
        <input type="text" placeholder="Enter Text" name="text" required>
    </label>
    <label>
        <input name="userfile" type="file"/><br>
    </label>
    <button type="submit" class="registerbtn">Send</button>
</form>

<ul>
    {% for message in messages %}
    <li>
        <pre>{{ message.text }}</pre>
        <pre>{{ message.created_at }}</pre>
        <pre>{{ message.name }}</pre>
        <img src="/images/{{ message.id }}.jpg" alt="pic">
    </li>
    {% endfor %}
</ul>

